<template>

  	<div id = "div1">

	    <div class = "svg" role = "presentation">
	          
	        <div class = "grails-logo-container">

	            <img src = "../assets/images/DigitalData.png" class = "grails-logo"/>
	          
	        </div>

	    </div> <br/>

		<div id = "overlay">
		  
		  	<div class = "spinner-box">
			  	
			  	<div class = "pulse-container">  
				    
				    <div class = "pulse-bubble pulse-bubble-1"></div>
				    <div class = "pulse-bubble pulse-bubble-2"></div>
				    <div class = "pulse-bubble pulse-bubble-3"></div>

			  	</div>

			</div>

		</div>

	    <div id = "content" role = "main"> 	

	      	<section class = "row colset-2-its">

			    <div class = "col-md-1"> </div>

			    <div class = "col-md-11">

			    	<br/> <button @click = "goBack()" class = "btn btn-secondary"> 

			    		<i class  = "fa fa-arrow-left"> </i> Volver 

			    	</button>

			    </div>

				<div class = "col-md-2"> </div>

				<div class = "col-md-10"> 

					<br/> 
						<h1 v-if = "crear" style = "font-size:1.5em"> Crear Documento </h1> 
						<h1 v-else style = "font-size:1.5em"> Editar Documento </h1>
					<br/> 

				</div>				

				<div class = "col-md-2"> </div>

				<div v-if = "crear" class = "col-md-4">

					<p> <label> Nombre de Archivo: </label>

					<input id = "nombreArchivo" /> </p>

				</div>

				<div v-else class = "col-md-4">

					<p> {{ nombreArchivo  + ".pdf" }} </p>

					<input id = "nombreArchivo" :value = "nombreArchivo" disabled = "disabled" hidden = "" /> 

	 			</div>

				<div v-if = "crear" class = "col-md-5">

					<p> <label> Seleccione Archivo: </label>

					<input id = "archivoSeleccionado" type = "file" @change = "LeePdf" /> </p> <br/>

				</div>

				<div v-else class = "col-md-5"> </div>

				<div class = "col-md-1"> </div>
			    
			    <div class = "col-md-2"> </div>

			    <div id = "cargaPdf" class = "col-md-8" style = "cursor:pointer" @click = "TextoEditable"> </div>

			    <div class = "col-md-2"> </div>

				<div class = "col-md-2"> </div>

			    <div class = "col-md-4" style = "cursor:pointer"> 

			    	<br/> <button class = "btn btn-success" @click = "GuardarFormato"> Guardar Formato </button> 
			    	
			   	</div>

			   	<div class = "col-md-4" style = "cursor:pointer;text-align:right"> 

			   		<br/> <button class = "btn btn-info" @click = "PruebaFormato"> Prueba Formato </button> 

			   	</div>

			    <div class = "col-md-2"> </div> 

	      	</section> <br/> 

	    </div>
	    
	    <div class = "footer row">
	        
	        <div class = "col-md-12">
	        
	            <a href = "http://www.globalpoint.cl" target = "_blank" class = "custom" style = "text-decoration:none;"> By GlobalPoint </a> <strong class = "centered" align = "center"> | &copy; 2019. </strong>

	        </div>

	    </div>

  	</div>	

</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src = "@/assets/css/spinner.css"> </style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  	.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    	background-color: #e7e7e7;
  	}

  	button span.caret {
    	margin-left: 2px;
  	}

  	.plus-logo {
	    font-size: 10rem;
	    margin-left: -100px;
	    margin-right: -13px;
  	}

  	.hero-logo {
	    width: 161px;
	    margin-right: -161px;
	    margin-bottom: 88px;
  	}

  	.footer, .custom {
	    font-size: 1.1em;
	    color: #aaa;
	    background-color: #eaeaea;
	    text-align: center;
  	}

  	#overlay {
	  	position: fixed; /* Sit on top of the page content */
		display: none; /* Hidden by default */
		width: 100%; /* Full width (cover the whole page) */
		height: 100%; /* Full height (cover the whole page) */
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.7); /* Black background with opacity */
		z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	}

	.spinner-box{
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	font-size: 50px;
	  	color: white;
	  	transform: translate(-50%,-50%);
	  	-ms-transform: translate(-50%,-50%);
	}

</style>

<script>

import Documento from '@/components/Documento';
import axios from 'axios';

export default 
{
  	name: 'Documento',
  	
  	data () 
  	{
	    return 	{
	      	serverInfo: null,
	      	serverURL: process.env.SERVER_URL,
	      	idArchivo: 0,
	      	crear: true,
	      	nombreArchivo: "",
	      	cargando: false,
	      	variablesDinamicas: []
	    }
  	},
  	beforeCreate: function () 
  	{
	    if (!this.$session.exists()) { this.$router.push('/') }
  	},
  	methods: 
  	{	    
	    goBack() { this.$router.push('/Welcome') },

		LeePdf(ev)
		{
	    	const file = ev.target.files[0];
	    	const reader = new FileReader(); 
	    	const nombreArchivo = $("#nombreArchivo").val();

	        var url = this.$data.serverURL + "/Application/procesaPdf";	    	

			document.getElementById("overlay").style.display = "block";

	    	reader.onload = function () 
	    	{	    		
		        var data = reader.result, base64 = data.replace(/^[^,]*,/, '');

	            axios.post(url, { pdf: base64, archivo: nombreArchivo }).then( response => 
	  			{ 
	    			document.getElementById("overlay").style.display = "none";

		  			document.getElementById("cargaPdf").innerHTML = response.data[0].pdf ;
	  			}); 
		    };

		    reader.readAsDataURL(file);
		},
		TextoEditable(event)
		{
			var self = this			

			var parentesis = ""
			var reiniciar = false

			var variableEdicion = ""
			var indiceEdicion = null

			if(event.target.textContent.includes('$'))
			{
				var sub = event.target.textContent.indexOf('$');

				variableEdicion = event.target.textContent.substring(sub, event.target.textContent.length);

				for(var i = 0; i < self.variablesDinamicas.length; i++)
				{
					if(self.variablesDinamicas[i].trim() == variableEdicion) { indiceEdicion = i }
				}

				parentesis = event.target.textContent.substring(0, sub)
				reiniciar = true
			}
			else { parentesis = event.target.textContent; }
			
			$.confirm({
		        title: 'Seleccione',
		        content: 'Elija tipo de creación de variable.',
		        buttons: {
		            formSubmit: 
		            {
		                text: 'Normal',
		                btnClass: 'btn-blue',
		                action: function () 
		                {
		                	$.confirm({
						        title: 'Agregue Campo Dinámico',
						        content: '' +
						        '<form action="" class="formName">' +
						        '<div class="form-group">' +
						        '<label>Nombre del Campo (' + parentesis + ')</label>' +
						        '<input type="text" placeholder="Ingrese parámetro" class="name form-control" autofocus/>' +
						        '</div>' +
						        '</form>',
						        buttons: {
						            formSubmit: {
						                text: 'Ingresar',
						                btnClass: 'btn-blue',
						                action: function () 
						                {
						                    var name = this.$content.find('.name').val();

						                    if(reiniciar)
						                    {
						                    	$(event.target).html("");

						                    	if (this.$content.find('.name').val() == '' || this.$content.find('.name').val() == null)
						                    	{
						                    		$(event.target).append(parentesis);

						                    		self.variablesDinamicas = $.grep(self.variablesDinamicas, function(value) { return value != variableEdicion });
						                    	}
						                    	else
						                    	{	
						                    		$(event.target).append(parentesis + "$" + this.$content.find('.name').val());

						                    		self.variablesDinamicas[indiceEdicion] = "$" + this.$content.find('.name').val()
						                    	}
						                    }
						                    else
						                    {
						                    	$(event.target).append("&nbsp;$" + this.$content.find('.name').val());

							                    self.variablesDinamicas.push("$" + this.$content.find('.name').val());
						                    }
		                				}
		            				},
		            				cancel: function () {
		                				//close
		            				},	
		            			},
		            		});
		                }
		            },
		            coordenadas: 
		            {	
		            	text: 'Coordenadas',
		            	btnClass: 'btn-blue',
		            	action: function () 
		            	{
		                	$.confirm( {
						        title: 'Ingrese Página del Documento',
						        content: '' +
						        '<form action="" class="formName">' +
						        '<div class="form-group">' +
						        '<label> Página </label>' +
						        '<input type = "number" placeholder = "Ingrese N° Página" class="pagina form-control" autofocus/>' +
						        '</div>' +
						        '</form>',
						        buttons: 
						        {
						            formSubmit: 
						            {
						                text: 'Ingresar',
						                btnClass: 'btn-blue',
						                action: function () 
						                {						                	
						            		var pagina = this.$content.find('.pagina').val();

						                    $.confirm({
										        title: 'Agregue Campo Dinámico (P. ' + pagina + ')',
										        content: '' +
										        '<form action="" class="formName">' +
										        '<div class="form-group">' +
										        '<label>Nombre </label>' +
										        '<input type="text" placeholder="Ingrese parámetro" class="name form-control" autofocus/>' +
										        '</div>' +
										        '</form>',
										        buttons: 
										        {
										            formSubmit: 
										            {
										                text: 'Ingresar',
										                btnClass: 'btn-blue',
										                action: function () 
										                {
															var offset = $("#page_" + (pagina - 1) ).offset()

										                    var name = this.$content.find('.name').val();

															$("#page_" + (pagina - 1)).append('<div class="p" style = "top:' + (parseInt(event.pageY) - offset.top ) + 'px;left:' + (parseInt(event.pageX) - offset.left) + 'px;line-height:8.325012pt;font-family:Helvetica;font-size:9.0pt;width:7.4970093pt;">$' + name + '</div>');	

										                    if(reiniciar)
										                    {
										                    	if (this.$content.find('.name').val() == '' || this.$content.find('.name').val() == null)
										                    	{
										                    		self.variablesDinamicas = $.grep(self.variablesDinamicas, function(value) { return value != variableEdicion });
										                    		console.log('entra1')
										                    	}
										                    	else
										                    	{	
										                    		if(self.variablesDinamicas[indiceEdicion] != null)
										                    		{
										                    			self.variablesDinamicas[indiceEdicion] = "$" + this.$content.find('.name').val()
										                    		}
										                    		else
										                    		{
										                    			self.variablesDinamicas.push("$" + this.$content.find('.name').val());
										                    		}

										                    		console.log('entra2')
										                    	}
										                    }
										                    else
										                    {
										                    	console.log('entra3')
											                    self.variablesDinamicas.push("$" + this.$content.find('.name').val());
										                    }

										                    console.log(self.variablesDinamicas)
						                				}
						            				},
						            				cancel: function () {
						                				//close
						            				},	
						            			}
						            		});
					            		}
					            	},
						            cancel: 
						            {	
						            	text: 'Cancelar',
						            	btnClass: 'btn-red',
						            	action: function () 
						            	{
						                	//close
						            	}
						            },						        	
						    	}
						    });
		            	}
		            },
		        },
		        onContentReady: function () 
		        {
		            var jc = this;

		            this.$content.find('form').on('submit', function (e) 
		            {		                
		                e.preventDefault();
		                
		                jc.$$formSubmit.trigger('click');
		            });
		        }
		    });
		},
		GuardarFormato()
		{
			if($("#nombreArchivo").val().trim() == '' || $("#nombreArchivo").val() == null)
			{
				$.alert({
			        title: 'Error!',
			        type: 'red',
			        content: 'Debe ingresar un nombre de archivo para continuar.',
			        closeIcon: true, 
			        buttons: { confirm: { text: 'OK', btnClass: 'btn-red' } }
			    });

				return
			}

			document.getElementById("overlay").style.display = "block";

			var width = document.getElementById("page_0").style.width.replace('pt', '')
			var height = document.getElementById("page_0").style.height.replace('pt', '')

			var url = this.$data.serverURL + "/Application/guardaHtml";	 

			var self = this

			axios.post(	url, 
					  	{ 
					  		html: $("#cargaPdf").html(), 
					  		nombreArchivo: $("#nombreArchivo").val(), 
					  		variables: this.variablesDinamicas.toString(),
					  		cliente: this.$session.get('cliente'),
					  		idUsuario: self.$session.get('usuario'),
					  		idArchivo: this.idArchivo,
					  		width:width,
					  		height:height 
					  	} )
			.then( response => 
  			{ 
	  			console.log('LO HIZO');
	  			
	  			document.getElementById("overlay").style.display = "none";

				$.alert({
			        title: 'Exito!',
			        type: 'green',
			        content: 'El archivo ha sido ingresado exitosamente.',
			        closeIcon: true, 
			        buttons: { confirm: { text: 'OK', btnClass: 'btn-green' } }
			    });	  			

			    $("#nombreArchivo").val('')
			    
			    document.getElementById("cargaPdf").innerHTML = '';

			    $("#archivoSeleccionado").val('')			    
  			})
  			.catch( error => 
  			{
			    console.log('NO LO HIZO')

			    document.getElementById("overlay").style.display = "none";

			    $.alert({
			        title: 'Error!',
			        type: 'red',
			        content: 'Ha ocurrido un error en el ingreso del archivo.',
			        closeIcon: true, 
			        buttons: { confirm: { text: 'OK', btnClass: 'btn-red' } }
			    });
			}); 
		},
		PruebaFormato()
		{
			var url = this.$data.serverURL + "/Application/generaDigitalizacion";	 

			axios.post(url, 
				{ 
					firma: "cualquierfirma",
					correo: "gabreil.230396@gmail.com",
					Xinfper: "X"
				}).then( response => 	
  			{ 
	  			console.log('LO HIZO');
	  			console.log(response.data[0]);
  			}); 
		}
	},
	created()
	{
		this.idArchivo = this.$route.params.idArchivo;
		this.nombreArchivo = this.$route.params.nombreArchivo;

		var url = this.$data.serverURL + "/Application/editaHtml";	

		if(this.idArchivo != 0)
		{			
			this.variablesDinamicas = this.$route.params.variablesDinamicas.split(',');
			this.crear = false;

			axios.post(url, { archivo: this.nombreArchivo }).then( response => 
  			{ 
  				console.log(response.data)

	  			document.getElementById("cargaPdf").innerHTML = response.data[0].pdf ;
  			}); 
		}

		var timeout
		var self = this;

		function refresh() 
		{			
		  	clearTimeout(timeout)
		  	
		  	timeout = setTimeout(() => { self.$session.destroy() }, 10 * 60 * 1000)
		}

		refresh()

		document.addEventListener('click', refresh)
	}
};

</script>