<template>
    
    <div>
    
        <div class = "svg" role = "presentation">
          
            <div class = "grails-logo-container">

                <img src = "../assets/images/DigitalData.png" class = "grails-logo"/>
              
            </div>

        </div> <br/>

        <div id = "content" role = "main">

            <br/> <section class = "row colset-2-its">

                <div class = "col-md-1"> 

                    <button class = "btn btn-secondary" @click = "goBack()">
                        
                        <i class = "fa fa-arrow-left"> </i> Volver

                    </button> <br/>            

                </div>
              
                <div class = "col-md-11"> </div>

                <div class = "col-md-12"> 
                  
                    <br/> 
                    
                    <h1 v-if = "tipoLog == '1'"> Log de Cambios </h1>

                    <h1 v-else> Log de Errores </h1>

                </div>  

                <div class = "table" role = "navigation">

                    <table v-if = "logs">

                        <thead class = "table-primary"> 

                            <th> Fecha </th> <th> Usuario </th> <th> Glosa </th>

                        </thead>

                        <tbody>

                            <tr v-for = "(log, index) in logs.logsTotales" :class = "(index % 2 == 0) ? 'odd' : 'even'">

                                <td :key = "log.fecha"> 

                                	{{ log.fecha.substring(8, 10) }}-{{ log.fecha.substring(5, 7) }}-{{ log.fecha.substring(0, 4) }} 
                                    {{ FormateaHora(log.fecha.substring(11, 16)) }}

                                </td>

                                <td :key = "log.username"> {{ log.username }} </td>

                                <td :key = "log.descripcion"> {{ log.descripcion }} </td>

                            </tr>

                        </tbody>
                    
                    </table>

                    <paginate :page-count = "paginas" 
                        :click-handler = "paginacion"
                        :prev-text = "'Anterior'"
                        :next-text = "'Siguiente'"
                        :container-class = "'pagination'"
                        :active-class = "'seleccionado'">
                    </paginate>

                </div>

            </section>

        </div>

        <div class = "footer row" >
        
            <div class = "col-md-12">
            
                <a href = "http://www.globalpoint.cl" target = "_blank" class = "custom" style = "text-decoration:none;"> By GlobalPoint </a> <strong class = "centered" align = "center"> | &copy; 2019. </strong>

            </div>

        </div>

    </div>

</template>

<script>

    import axios from 'axios'
    
    export default {
      
        name: 'Log',
        data () {
            return {
                serverURL: process.env.SERVER_URL,
                logs:null,
                paginas:null,
                tipoLog: null,
                cont:0
            }
        },
        beforeCreate: function () 
        {
            if (!this.$session.exists()) { this.$router.push('/') }
        },
        methods: 
        {
            goBack() { this.$router.push('/Welcome') },

            FormateaHora(hora)
            {
            	var horaStr = hora.substring(0, 2)

            	var horaInt = parseInt(horaStr) - 3 

            	var horaFinal = horaInt.toString() + hora.substring(2, 5)

            	return horaFinal
            },
            paginacion: function(pageNum) 
            {
                var offset = ( (pageNum - 1) * 10)

                var self = this

                axios.post('http://localhost:8080/log/listadoLogs', 
                { 
                    tipoLog: this.$route.params.tipoLog, 
                    idCliente: this.$session.get('cliente'),
                    offset: offset
                })
                .then ( function(response) 
                {
                    self.paginas = response.data.pages
                    self.logs = response.data
                }, 
                function (err) 
                { 
                    console.log('err', err) 
                })
            }
        },
        created () 
        {
        	this.tipoLog = this.$route.params.tipoLog
            
            var self = this

            axios.post('http://localhost:8080/log/listadoLogs', 
            {   
                tipoLog: this.$route.params.tipoLog, 
                idCliente: this.$session.get('cliente'),
                offset:0
            } )

            .then ( function(response) 
            {
                if (response.data.pages == 0) { self.paginas = 1 }
                
                else { self.paginas = response.data.pages }

                self.logs = response.data
            }, 
            function (err) 
            { 
                console.log('err', err) 
            })

            var timeout
            var self = this;

            function refresh() 
            {     
              clearTimeout(timeout)
              
              timeout = setTimeout(() => { self.$session.destroy() }, 10 * 60 * 1000)
            }

            refresh()

            document.addEventListener('click', refresh)
        }
    };

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background-color: #e7e7e7;
    }

    button span.caret {
        margin-left: 2px;
    }

    .plus-logo {
        font-size: 10rem;
        margin-left: -100px;
        margin-right: -13px;
    }

    .hero-logo {
        width: 161px;
        margin-right: -161px;
        margin-bottom: 88px;
    }

    .footer, .custom {
        font-size: 1.1em;
        color: #aaa;
        background-color: #eaeaea;
        text-align: center;
    } 

    .even {
  	    background-color: #d8d8d8;
    }

    .odd {
  	    background-color: #e9e9e9;
    }

    .pagination 
    {
        margin-left:35%;
        width:30%;
    }

    .seleccionado 
    {
        background-color: #999999;
        outline: none;
    }

</style>