<template>
  
  	<div>
    
	    <div class = "svg" role = "presentation">
	        
	        <div class = "grails-logo-container">

	            <img src = "../assets/images/DigitalData.png" class = "grails-logo"/>
	          
	        </div>

	    </div> <br/>

	    <div id = "content" role = "main"> <br/>
				
			<div class = "wrapper fadeInDown">
			  
			  	<div id = "formContent">
			    
				    <!-- Tabs Titles -->
				    <h2 class = "active"> Login </h2>

				    <!-- Login Form -->
				    <div>
					     
					    <input type = "text" id = "login" class = "fadeIn second" name = "login" placeholder = "Username" required v-model = "username">
					    <input type = "text" id = "password" class = "fadeIn third" name = "login" placeholder = "Password" required v-model = "password">
					    
					    <input type = "submit" class = "fadeIn fourth" value = "Log In" style = "cursor:pointer" @click = "login">

				    </div>

			  	</div> 

			</div> <br/>

	    </div> <br/>
	    
	    <div class = "footer row" >
	      
	      	<div class = "col-md-12">
	        	
	        	<strong class = "centered" align = "center"> <a href = "http://www.globalpoint.cl" target = "_blank" class = "custom"> By GlobalPoint </a> | &copy; 2019. </strong>        	

	      	</div>

	    </div>

  	</div>

</template>

<script>
	
	import axios from 'axios';

	export default {
	  	name: 'Login',
	  	data () {
	    	return {
	      		serverInfo: null,
	      		showLinks: false,
	      		serverURL: process.env.SERVER_URL,
	      		username: '',
	      		password: ''
	    	}
	  	},
	  	methods: 
	  	{		    
		    login: function()
		    {
		    	var self = this

		        console.log(btoa(this.password))
		        console.log(this.username)
		        axios.post('http://localhost:8080/login/auth',
		        {
		            password: btoa(this.password),
		            username: this.username
		        })
		        .then( function (response) 
		        {
		            if (response.status === 200) 
		            {
		              	self.$session.start()

		              	self.$session.set('usuario', response.data[2].usuario)
		              	self.$session.set('cliente', response.data[1].cliente)
		            	self.$session.set('jwt', response.data[0].jwt)

		              	//Vue.http.headers.common['Authorization'] = 'Bearer ' + response.body.token
		              	self.$router.push('/Welcome')
		            }
		        }, 
		        function (err) 
		        { 
		        	self.username = '';
		        	self.password = '';

	        	    $.alert({
				        title: 'Error!',
				        type: 'red',
				        content: 'Ha ocurrido un error con las credenciales ingresadas. Favor intentar nuevamente',
				        closeIcon: true, 
				        buttons: { confirm: { text: 'OK', btnClass: 'btn-red' } }
				    });

		        	console.log('err', err) 
		        })
		    }
		}
	}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src="@/assets/css/login.css"> </style>