<template>
    
    <div>
    
        <div class = "svg" role = "presentation">
          
            <div class = "grails-logo-container">

                <img src = "../assets/images/DigitalData.png" class = "grails-logo"/>
              
            </div>

        </div> <br/>

        <div id = "content" role = "main">

            <br/> <section class = "row colset-2-its">

                <div class = "col-md-1"> 

                    <button class = "btn btn-secondary" @click = "logout">
                        
                        <i class = "fa fa-arrow-left"> </i> Logout

                    </button> <br/>            

                </div>
              
                <div class = "col-md-11"> </div>

                <div class = "col-md-2">

                    <br/> <router-link :to = "{ name: 'Log', params: { tipoLog:1 } }" style = "text-decoration:none" class = "btn btn-dark"> 

                        Log de Cambios  <i class = "fa fa-file-text"> </i> 

                    </router-link>       

                </div>

                <div class = "col-md-2">

                    <br/> <router-link :to = "{ name: 'Log', params: { tipoLog:2 } }" style = "text-decoration:none" class = "btn btn-dark"> 

                        Log de Errores  <i class = "fa fa-file-text"> </i> 

                    </router-link>       

                </div>    

                <div class = "col-md-6"> </div>

                <div class = "col-md-2"> 

                    <br/> <router-link :to = "{ name: 'Documento', params: { idArchivo:0, nombreArchivo:0, variablesDinamicas:0 } }" style = "text-decoration:none" class = "btn btn-success"> 

                        Crear Documento  <i class = "fa fa-arrow-right"> </i> 

                    </router-link>

                </div>


                <div class = "col-md-12"> 
                  
                    <br/> <h1> Listado de Documentos </h1>

                </div> 

                <div class = " col-md-12 table" role = "navigation">

                    <table v-if = "archivos">

                        <thead class = "table-primary"> 

                            <th> Nombre Archivo </th> <th> Variables </th> <th> Fecha de Creación </th> <th> Activo </th> <th> Opciones </th>

                        </thead>

                        <tbody>

                            <tr v-for = "(archivo, index) in archivos.archivosTotales" :class = "(index % 2 == 0) ? 'odd' : 'even'">

                                <td :key = "archivo.id"> {{ archivo.nombreArchivo }} </td>

                                <td :key = "archivo.nombreArchivo"> {{ archivo.variablesDinamicas }} </td>

                                <td :key = "archivo.nombreArchivo"> 

                                    {{ archivo.fechaCreacion.substring(8, 10) }}-{{ archivo.fechaCreacion.substring(5, 7) }}-{{ archivo.fechaCreacion.substring(0, 4) }}

                                </td>

                                <td :key = "archivo.nombreArchivo"> 

                                    {{ archivo.activo ? 'Si' : 'No' }}

                                </td>

                                <td> 

                                    <router-link :to = "{ name: 'Documento', params: { idArchivo:archivo.id, nombreArchivo:archivo.nombreArchivo,
                                        variablesDinamicas: archivo.variablesDinamicas } }" style = "text-decoration:none" class = "btn btn-info" v-if = "archivo.activo"> Editar </router-link>

                                    <button :class = "archivo.activo ? 'btn btn-danger' : 'btn btn-success'" style = "margin-left: 20px" @click = "CambiarEstadoArchivo(archivo.id)"> 

                                        {{ archivo.activo ? 'Desactivar' : 'Activar' }} 

                                    </button>

                                </td>

                            </tr>

                        </tbody>
                    
                    </table>

                </div>
            
            </section>

        </div>

        <div class = "footer row" >
        
            <div class = "col-md-12">
            
                <a href = "http://www.globalpoint.cl" target = "_blank" class = "custom" style="text-decoration:none;"> By GlobalPoint </a> <strong class = "centered" align = "center"> | &copy; 2019. </strong>

            </div>

        </div>

    </div>

</template>

<script>

    import axios from 'axios';
    
    export default {
      
        name: 'Welcome',
        data () {
            return {
                archivos: null,
                serverURL: process.env.SERVER_URL
            }
        },
        beforeCreate: function () 
        {
            if (!this.$session.exists()) { this.$router.push('/') }
        },
        methods: 
        {
            logout: function() 
            { 
                this.$session.destroy()

                this.$router.push('/')
            },
            crearDocumento: function() 
            { 
                this.$router.push('/Documento')
            },
            CambiarEstadoArchivo(idArchivo)
            {
                var self = this;

                $.confirm({
                    title: 'Cambiar Estado',
                    content: '¿Esta seguro de cambiar el estado del archivo seleccionado?',
                    buttons: {
                        formSubmit: {
                            text: 'Cambiar Estado',
                            btnClass: 'btn-red',
                            action: function () 
                            {
                                console.log('Se elminara archivo: ' + idArchivo)   

                                axios.post( 'http://localhost:8080/archivo/cambiarEstadoArchivo', 
                                          { idArchivo: idArchivo,
                                            idUsuario: self.$session.get('usuario'), })
                                .then ( function(response) 
                                {
                                    console.log(response.data.archivosTotales)

                                    self.archivos = response.data

                                    $.alert({
                                        title: 'Exito!',
                                        type: 'green',
                                        content: 'El Archivo se ha cambiado de estado exitosamente.',
                                        closeIcon: true, 
                                        buttons: { confirm: { text: 'OK', btnClass: 'btn-green' } }
                                    });
                                }, 
                                function (err) 
                                { 
                                    $.alert({
                                        title: 'Error!',
                                        type: 'red',
                                        content: 'Ha ocurrido un error en el cambio de estado del Archivo.',
                                        closeIcon: true, 
                                        buttons: { confirm: { text: 'OK', btnClass: 'btn-red' } }
                                    });
                                })
                            }
                        },
                        cancel: {
                            text: 'Cancelar',                            
                        },
                    },
                    onContentReady: function () 
                    {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            }            
        },
        created () 
        {
            var self = this

            axios.get('http://localhost:8080/archivo/listadoArchivos')

            .then ( function(response) 
            {
                console.log(response.data)

                self.archivos = response.data
            }, 
            function (err) 
            { 
                console.log('err', err) 
            })

            var timeout
            var self = this;

            function refresh() 
            {     
              clearTimeout(timeout)
              
              timeout = setTimeout(() => { self.$session.destroy() }, 10 * 60 * 1000)
            }

            refresh()

            document.addEventListener('click', refresh)
        }
    };

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #e7e7e7;
  }

  button span.caret {
    margin-left: 2px;
  }

  .plus-logo {
    font-size: 10rem;
    margin-left: -100px;
    margin-right: -13px;
  }

  .hero-logo {
    width: 161px;
    margin-right: -161px;
    margin-bottom: 88px;
  }

  .footer, .custom {
    font-size: 1.1em;
    color: #aaa;
    background-color: #eaeaea;
    text-align: center;
  }

  .even {
    background-color: #d8d8d8;
  }

  .odd {
    background-color: #e9e9e9;
  }

</style>
